################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/lab4/obj
/lab4/bin/Debug/netcoreapp3.1
/lab4/.vs/lab4
/lab4
/lab5/bin/Debug/netcoreapp3.1
/lab5/obj
/hw/bin/Debug/netcoreapp3.1
/hw/obj
