################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/lab4/obj
/lab4/bin/Debug/netcoreapp3.1
/lab4/.vs/lab4
